/* custom-subset */
@font-face {
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src:
    local('Togarite-light'),
    url('/Togalite.005.custom-subset.woff2') format('woff2');
  unicode-range: U+9E16, U+9E19-9E1F, U+9E75, U+9E79-9E7D, U+9E80-9E85, U+9E87-9E88, U+9E8B-9E8C, U+9E8E-9E8F, U+9E91-9E92, U+9E95-9E96, U+9E98, U+9E9B, U+9E9D-9E9E, U+9EA4-9EA5, U+9EA8-9EAA, U+9EAC-9EB0, U+9EB3-9EB5, U+9EB8, U+9EBC-9EBF, U+9EC3, U+9EC6, U+9EC8, U+9ECB-9ECD, U+9ECF-9ED1, U+9ED4-9ED5, U+9ED8, U+9EDB-9EE0, U+9EE4-9EE5, U+9EE7-9EE8, U+9EEC-9EF2, U+9EF4-9EF9, U+9EFB-9EFF, U+9F02-9F03, U+9F07-9F09, U+9F0E-9F12, U+9F14-9F17, U+9F19-9F1B, U+9F1F-9F22, U+9F26, U+9F2A-9F2C, U+9F2F, U+9F31-9F32, U+9F34, U+9F37, U+9F39-9F3A, U+9F3C-9F3F, U+9F41, U+9F43-9F47, U+9F4A, U+9F4E-9F50, U+9F52-9F58, U+9F5A, U+9F5D-9F61, U+9F63, U+9F66-9F6A, U+9F6C-9F73, U+9F75-9F77, U+9F7A, U+9F7D, U+9F7F, U+9F8F-9F92, U+9F94-9F97, U+9F99, U+9F9C-9FA3, U+9FA5, U+9FB4, U+9FBC-9FC2, U+9FC4, U+9FC6, U+9FCC, U+F900-F915;
}
