/* custom-subset */
@font-face {
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    local('Togarite-medium'),
    url('/Togalite.052.custom-subset.woff2') format('woff2');
  unicode-range: U+32CA-32FE, U+3300-332B, U+332D-339B, U+339E-33A0, U+33A2-33AC;
}
