/* custom-subset */
@font-face {
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src:
    local('Togarite-black'),
    url('/Togalite.017.custom-subset.woff2') format('woff2');
  unicode-range: U+87D0, U+87D2, U+87D5-87D6, U+87D9-87DA, U+87DC, U+87DF-87E0, U+87E2-87E6, U+87EA-87ED, U+87EF, U+87F1, U+87F3, U+87F5-87F8, U+87FA-87FB, U+87FE-87FF, U+8801, U+8803, U+8805-8807, U+8809-880B, U+880D-8816, U+8818-881C, U+881E-881F, U+8821-8822, U+8827-8828, U+882D-882E, U+8830-8832, U+8835-8836, U+8839-883C, U+8841-8845, U+8848-884B, U+884D-884E, U+8851-8852, U+8855-8856, U+8858-885A, U+885C, U+885E-8860, U+8862, U+8864, U+8869, U+886B, U+886E-886F, U+8871-8872, U+8875, U+8877, U+8879, U+887B, U+887D-887E, U+8880-8882, U+8888, U+888D, U+8892, U+8897-889C, U+889E-88A0, U+88A2, U+88A4, U+88A8, U+88AA, U+88AE, U+88B0-88B1, U+88B5, U+88B7, U+88BA, U+88BC-88C0, U+88C3-88C4, U+88C6, U+88CA-88CE, U+88D1-88D4, U+88D8-88D9, U+88DB, U+88DD-88E1, U+88E7-88E8, U+88EF-88F2, U+88F4-88F5, U+88F7, U+88F9, U+88FC, U+8901-8902, U+8904, U+8906, U+890A, U+890C-890F, U+8913, U+8915-8916, U+8918-891A, U+891C-891E, U+8920, U+8925-8928, U+892A-892B, U+8930-8932, U+8935-893B, U+893E, U+8940-8946, U+8949, U+894C-894D, U+894F, U+8952, U+8956-8957, U+895A-895C, U+895E, U+8960-8961;
}
