/* custom-subset */
@font-face {
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local('Togarite-regular'),
    url('/Togalite.019.custom-subset.woff2') format('woff2');
  unicode-range: U+84A6, U+84A8-84AA, U+84AD, U+84AF, U+84B1, U+84B4, U+84B9-84BB, U+84BD-84C2, U+84C6-84CA, U+84CC-84D1, U+84D3, U+84D6, U+84D9-84DA, U+84DC, U+84E7, U+84EA, U+84EC, U+84EF-84F2, U+84F4, U+84F7, U+84FA-84FD, U+84FF-8500, U+8502-8503, U+8506-8507, U+850C, U+850E, U+8510, U+8514-8515, U+8517-8518, U+851A-851C, U+851E-851F, U+8521-8525, U+8527, U+852A-852C, U+852F, U+8532-8534, U+8536, U+853E-8541, U+8543, U+8546, U+8548, U+854A-854B, U+854F-8553, U+8555-855A, U+855C-8564, U+8569-856B, U+856D, U+856F, U+8577, U+8579-857B, U+857D-8581, U+8585-8586, U+8588-858C, U+858F-8591, U+8593, U+8597-8598, U+859B-859D, U+859F-85A0, U+85A2, U+85A4-85A5, U+85A7-85A8, U+85AD-85B0, U+85B4, U+85B6-85BA, U+85BC-85BF, U+85C1-85C2, U+85C7, U+85C9-85CB, U+85CE-85D0, U+85D5, U+85D8-85DA, U+85DC, U+85DF-85E1, U+85E5-85E6, U+85E8, U+85ED, U+85F3-85F4, U+85F6-85F7, U+85F9-85FA, U+85FC, U+85FE-8600, U+8602, U+8604-8606, U+860A-860B, U+860D-860E, U+8610-8613, U+8616-861B, U+861E, U+8621-8622, U+8624, U+8627, U+8629, U+862F-8630, U+8636, U+8638-863A, U+863C-863D, U+863F;
}
