/* custom-subset */
@font-face {
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    local('Togarite-bold'),
    url('/Togalite.018.custom-subset.woff2') format('woff2');
  unicode-range: U+8640-8642, U+8646, U+864D, U+8652-8659, U+865B, U+865D-8664, U+8667, U+8669, U+866C, U+866F, U+8671, U+8675-8677, U+867A-867B, U+867D, U+8687-8689, U+868B-868D, U+8691, U+8693, U+8695-8696, U+8698, U+869A, U+869C-869D, U+86A1, U+86A3-86A4, U+86A6-86AB, U+86AD, U+86AF-86B1, U+86B3-86B9, U+86BF-86C1, U+86C3-86C6, U+86C9, U+86CB, U+86CE, U+86D1-86D2, U+86D4-86D5, U+86D7, U+86DA, U+86DC, U+86DE-86E0, U+86E3-86E7, U+86E9, U+86EC-86ED, U+86EF, U+86F8-86FE, U+8700, U+8703-870B, U+870D-8714, U+8719-871A, U+871E-871F, U+8721-8723, U+8725, U+8728-8729, U+872E-872F, U+8731-8732, U+8734, U+8737, U+8739-8740, U+8743, U+8745, U+8749, U+874B-874E, U+8751, U+8753, U+8755, U+8757-8759, U+875D, U+875F-8761, U+8763-8766, U+8768, U+876A, U+876E-876F, U+8771-8772, U+8774, U+8778, U+877B-877C, U+877F, U+8782-8789, U+878B-878C, U+878E, U+8790, U+8793, U+8795, U+8797-8799, U+879E-87A0, U+87A2-87A3, U+87A7, U+87AB-87AF, U+87B1, U+87B3, U+87B5, U+87BB, U+87BD-87C1, U+87C4, U+87C6-87CB, U+87CE;
}
