/* custom-subset */
@font-face {
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local('Togarite-regular'),
    url('/Togalite.032.custom-subset.woff2') format('woff2');
  unicode-range: U+6D87, U+6D89-6D8A, U+6D8C-6D8E, U+6D91-6D98, U+6D9C, U+6DAA-6DAC, U+6DAE, U+6DB4-6DB5, U+6DB7-6DB9, U+6DBD, U+6DBF, U+6DC2, U+6DC4-6DC8, U+6DCA, U+6DCC, U+6DCE-6DD0, U+6DD2, U+6DD5-6DD6, U+6DD8-6DDB, U+6DDD-6DE0, U+6DE2, U+6DE4-6DE6, U+6DE8-6DEA, U+6DEC, U+6DEE-6DF0, U+6DF2, U+6DF4, U+6DF6, U+6DF8-6DFA, U+6DFC, U+6E00, U+6E04, U+6E0A, U+6E17, U+6E19, U+6E1D-6E20, U+6E22-6E25, U+6E27, U+6E2B, U+6E2D-6E2E, U+6E32, U+6E34, U+6E36, U+6E38-6E3C, U+6E42-6E45, U+6E48-6E49, U+6E4B-6E4F, U+6E51-6E54, U+6E57, U+6E5B-6E5F, U+6E62-6E63, U+6E68, U+6E6B, U+6E6E, U+6E72-6E73, U+6E76, U+6E7B, U+6E7D, U+6E82, U+6E89, U+6E8C-6E8D, U+6E8F, U+6E93, U+6E98-6E99, U+6E9F-6EA0, U+6EA5, U+6EA7, U+6EAA-6EAB, U+6EAD-6EAF, U+6EB1-6EB4, U+6EB7, U+6EBB-6EBD, U+6EBF-6EC4, U+6EC7-6ECA, U+6ECC-6ECF, U+6ED3-6ED5, U+6ED9-6EDB, U+6EE6, U+6EEB-6EEF, U+6EF7-6EF9, U+6EFB, U+6EFD-6EFF, U+6F04, U+6F08-6F0A, U+6F0C-6F0D, U+6F10-6F11, U+6F13, U+6F15-6F16, U+6F18, U+6F1A-6F1B, U+6F25-6F26, U+6F29-6F2A, U+6F2D, U+6F2F-6F33, U+6F35-6F36, U+6F38, U+6F3B-6F3C, U+6F3E-6F3F, U+6F41, U+6F45, U+6F4F, U+6F51-6F53, U+6F57-6F5B;
}
