/* custom-subset */
@font-face {
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    local('Togarite-bold'),
    url('/Togalite.020.custom-subset.woff2') format('woff2');
  unicode-range: U+82E0-82E4, U+82E7-82E8, U+82EA, U+82ED, U+82EF, U+82F3-82F4, U+82F6-82F7, U+82F9, U+82FB, U+82FD-82FE, U+8300-8301, U+8303, U+8306-8308, U+830A-830C, U+8316-8318, U+831B, U+831D-831F, U+8321-8323, U+832B-8335, U+8337, U+833A, U+833C-833D, U+8340, U+8342-8347, U+834A, U+834D-8351, U+8353-8357, U+835A, U+8362-8363, U+8370, U+8373, U+8375, U+8378, U+837C-837D, U+837F-8380, U+8382, U+8384-8387, U+838A, U+838D-838E, U+8392-8396, U+8398-83A0, U+83A2, U+83A6-83AD, U+83B1, U+83B5, U+83BD-83C1, U+83C7, U+83C9, U+83CE-83D1, U+83D4, U+83D6, U+83D8, U+83DD, U+83DF-83E1, U+83E5, U+83E8, U+83EA-83EB, U+83F0, U+83F2, U+83F4, U+83F6-83F9, U+83FB-83FD, U+8401, U+8403-8404, U+8406-8407, U+840A-840B, U+840D, U+840F, U+8411, U+8413, U+8415, U+8417, U+8419, U+8420, U+8422, U+842A, U+842F, U+8431, U+8435, U+8438-8439, U+843C, U+8445-8448, U+844A, U+844D-844F, U+8451-8452, U+8456, U+8458-845A, U+845C, U+845F-8462, U+8464-8467, U+8469-846B, U+846D-8470, U+8473-8474, U+8476-847A, U+847C-847D, U+8481-8482, U+8484-8485, U+848B, U+8490, U+8492-8493, U+8495, U+8497, U+849C, U+849E-849F, U+84A1;
}
