/* custom-subset */
@font-face {
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local('Togarite-regular'),
    url('/Togalite.047.custom-subset.woff2') format('woff2');
  unicode-range: U+52AF-52B0, U+52B5-52B8, U+52BA-52BE, U+52C0-52C1, U+52C4-52C6, U+52C8, U+52CA, U+52CC-52CD, U+52CF-52D2, U+52D4, U+52D6-52D7, U+52DB-52DC, U+52DE, U+52E0-52E1, U+52E3, U+52E5-52E6, U+52E8-52EA, U+52EC, U+52F0-52F1, U+52F3-52FB, U+5300-5301, U+5303, U+5306-5308, U+530A-530D, U+530F-5311, U+5313, U+5315, U+5318-531F, U+5321, U+5323-5325, U+5327-532D, U+532F-5333, U+5335, U+5338, U+533C-533E, U+5340, U+5342, U+5345-5346, U+5349, U+534B-534C, U+5359, U+535B, U+535E, U+5361, U+5363-5367, U+5369, U+536C-536E, U+5372, U+5377, U+5379-537B, U+537D-537F, U+5382-5383, U+5387-5389, U+538E, U+5393-5394, U+5396, U+5398-5399, U+539D, U+53A0-53A1, U+53A4-53A6, U+53A9-53AB, U+53AD-53B0, U+53B2, U+53B4-53B8, U+53BA, U+53BD, U+53C0-53C1, U+53C3-53C5, U+53CF, U+53D2-53D3, U+53D5, U+53DA-53DB, U+53DD-53E0, U+53E2, U+53E6-53E8, U+53ED-53EE, U+53F4-53F5, U+53FA, U+5401-5403, U+540B, U+540F, U+5412-5413, U+541A, U+541D-541E, U+5421, U+5424, U+5427-542A, U+542C-542F, U+5431, U+5433-5436, U+543C-543D, U+543F-5440, U+5443-5444, U+5447, U+544C-544F, U+5455, U+545E, U+5462, U+5464, U+5466-5467, U+5469, U+546B;
}
