/* custom-subset */
@font-face {
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src:
    local('Togarite-black'),
    url('/Togalite.007.custom-subset.woff2') format('woff2');
  unicode-range: U+9AC3, U+9AC6, U+9AC8, U+9ACE-9AD3, U+9AD5-9AD7, U+9ADB-9ADC, U+9ADE-9AE0, U+9AE2-9AE7, U+9AE9, U+9AEB-9AEC, U+9AEE-9AEF, U+9AF1-9AF5, U+9AF7, U+9AF9-9AFB, U+9AFD, U+9AFF-9B06, U+9B08-9B09, U+9B0B-9B0E, U+9B10, U+9B12, U+9B16, U+9B18-9B1D, U+9B1F-9B20, U+9B22-9B23, U+9B25-9B2F, U+9B32-9B35, U+9B37, U+9B39-9B3B, U+9B3D, U+9B43-9B44, U+9B48, U+9B4B-9B4F, U+9B51, U+9B55-9B58, U+9B5B, U+9B5E, U+9B61, U+9B63, U+9B65-9B66, U+9B68, U+9B6A-9B6F, U+9B72-9B79, U+9B7F-9B80, U+9B83-9B87, U+9B89-9B8B, U+9B8D, U+9B8F-9B94, U+9B96-9B97, U+9B9A, U+9B9D-9BA0, U+9BA6-9BA7, U+9BA9-9BAA, U+9BAC, U+9BB0-9BB2, U+9BB4, U+9BB7-9BB9, U+9BBB-9BBC, U+9BBE-9BC1, U+9BC6-9BC8, U+9BCA, U+9BCE-9BD2, U+9BD4, U+9BD7-9BD8, U+9BDD, U+9BDF, U+9BE1-9BE5, U+9BE7, U+9BEA-9BEB, U+9BEE-9BF3, U+9BF5, U+9BF7-9BFA, U+9BFD, U+9BFF-9C00, U+9C02, U+9C04, U+9C06, U+9C08-9C0D, U+9C0F-9C16, U+9C18-9C1E, U+9C21;
}
