/* custom-subset */
@font-face {
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    local('Togarite-bold'),
    url('/Togalite.039.custom-subset.woff2') format('woff2');
  unicode-range: U+612B-612C, U+6130-6131, U+6134-6137, U+6139-613A, U+613C-613F, U+6141-6142, U+6144-6147, U+6149-614A, U+614D, U+6153, U+6158-615A, U+615D-6160, U+6164-6165, U+616B-616C, U+616F, U+6171-6175, U+6177-6178, U+617B-6181, U+6183-6184, U+6187, U+618A-618B, U+618D, U+6192-6194, U+6196-619A, U+619C-619D, U+619F-61A0, U+61A5, U+61A8, U+61AA-61AE, U+61B8-61BA, U+61BC, U+61BE, U+61C0-61C3, U+61C6, U+61C8, U+61CA-61CF, U+61D5, U+61DC-61DF, U+61E1-61E3, U+61E5-61E9, U+61EC-61ED, U+61EF, U+61F4-61F7, U+61FA, U+61FC-6201, U+6203-6204, U+6207-620A, U+620D-620E, U+6213-6215, U+621B-621E, U+6220-6223, U+6227, U+6229-622B, U+622E, U+6230-6233, U+6236, U+6239, U+623D-623E, U+6241-6244, U+6246, U+6248, U+624C, U+624E, U+6250-6252, U+6254, U+6256, U+6258, U+625A-625C, U+625E, U+6260-6261, U+6263-6264, U+6268, U+626D, U+626F, U+6273, U+627A-627E, U+6282-6283, U+6285, U+6289, U+628D-6290, U+6292-6294, U+6296, U+6299, U+629B, U+62A6, U+62A8, U+62AC, U+62B3, U+62B6-62B7, U+62BA-62BB, U+62BE-62BF, U+62C2, U+62C4, U+62C6-62C8, U+62CA, U+62CE-62CF, U+62D1, U+62D4-62D6, U+62DA, U+62DC, U+62EA, U+62EE;
}
