/* custom-subset */
@font-face {
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local('Togarite-regular'),
    url('/Togalite.040.custom-subset.woff2') format('woff2');
  unicode-range: U+5F7F, U+5F82-5F83, U+5F87-5F89, U+5F8D, U+5F8F, U+5F91, U+5F96, U+5F99, U+5F9C-5F9D, U+5FA0, U+5FA2, U+5FA4, U+5FA7-5FA8, U+5FAB-5FAD, U+5FAF-5FB1, U+5FB5, U+5FB7-5FB8, U+5FBC-5FBD, U+5FC4, U+5FC7-5FC9, U+5FCB, U+5FD0-5FD4, U+5FDD-5FDE, U+5FE1-5FE2, U+5FE4, U+5FE8-5FEA, U+5FEC-5FF3, U+5FF6, U+5FF8, U+5FFA-5FFD, U+5FFF, U+6007, U+600A, U+600D-6010, U+6013-6015, U+6017-601B, U+601F, U+6021-6022, U+6024, U+6026, U+6029, U+602B, U+602D, U+6031, U+6033, U+6035, U+603A, U+6040-6043, U+6046-604A, U+604C-604D, U+6051, U+6054-6057, U+6059-605A, U+605D, U+605F-6064, U+6067, U+606A-606C, U+6070-6071, U+6077, U+607E-607F, U+6081-6086, U+6088-608E, U+6091-6093, U+6095-6098, U+609A-609B, U+609D-609E, U+60A2, U+60A4-60A5, U+60A7-60A8, U+60B0-60B1, U+60B3-60B5, U+60B7-60B8, U+60BB, U+60BD-60BE, U+60C2, U+60C4, U+60C6-60CB, U+60CE-60CF, U+60D3-60D5, U+60D8-60D9, U+60DB, U+60DD-60DF, U+60E1-60E2, U+60E5, U+60EE, U+60F0-60F2, U+60F4-60F8, U+60FA-60FD, U+6100, U+6102-6103, U+6106-6108, U+610A, U+610C-610E, U+6110-6114, U+6116-6117, U+6119, U+611C, U+611E, U+6120-6122, U+6127-6128, U+612A;
}
