/* custom-subset */
@font-face {
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    local('Togarite-medium'),
    url('/Togalite.008.custom-subset.woff2') format('woff2');
  unicode-range: U+98C3-98C8, U+98CB-98CC, U+98CE, U+98DC, U+98DE, U+98E0-98E1, U+98E3, U+98E5-98E7, U+98E9-98EB, U+98ED-98EE, U+98F0-98F1, U+98F3, U+98F6, U+9902, U+9907-9909, U+9911-9912, U+9914-9918, U+991A-9922, U+9924, U+9926-9927, U+992B-992C, U+992E, U+9931-9935, U+9939-993E, U+9940-9942, U+9945-9949, U+994B-994E, U+9950-9952, U+9954-9955, U+9958-9959, U+995B-995C, U+995E-9960, U+9963, U+9997-9998, U+999B, U+999D-999F, U+99A3, U+99A5-99A6, U+99A8, U+99AD-99AE, U+99B0-99B2, U+99B5, U+99B9-99BA, U+99BC-99BD, U+99BF, U+99C1, U+99C3, U+99C8-99C9, U+99D1, U+99D3-99D5, U+99D8-99DF, U+99E1-99E2, U+99E7, U+99EA-99EE, U+99F0-99F2, U+99F4-99F5, U+99F8-99F9, U+99FB-99FE, U+9A01-9A05, U+9A08, U+9A0A-9A0C, U+9A0F-9A11, U+9A16, U+9A1A, U+9A1E, U+9A20, U+9A22-9A24, U+9A27, U+9A2B, U+9A2D-9A2E, U+9A31, U+9A33, U+9A35-9A38, U+9A3E, U+9A40-9A45, U+9A47, U+9A4A-9A4E, U+9A51-9A52, U+9A54-9A58, U+9A5B, U+9A5D, U+9A5F, U+9A62, U+9A64-9A65, U+9A69-9A6C, U+9AAA, U+9AAC-9AB0, U+9AB2, U+9AB4-9AB7, U+9AB9, U+9ABB-9AC1;
}
