/* custom-subset */
@font-face {
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src:
    local('Togarite-heavy'),
    url('/Togalite.055.custom-subset.woff2') format('woff2');
  unicode-range: U+2F29-2FD5, U+2FF0-2FFB, U+3004, U+3013, U+3016-301B, U+301E, U+3020-303B;
}
