/* custom-subset */
@font-face {
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    local('Togarite-medium'),
    url('/Togalite.012.custom-subset.woff2') format('woff2');
  unicode-range: U+9127, U+9129, U+912D-9132, U+9134, U+9136-9137, U+9139-913A, U+913C-913D, U+9143, U+9146-914C, U+914F, U+9153, U+9156-915B, U+9161, U+9163-9165, U+9167, U+9169, U+916D, U+9172-9174, U+9179-917B, U+9181-9183, U+9185-9187, U+9189-918B, U+918E, U+9191, U+9193-9195, U+9197-9198, U+919E, U+91A1-91A2, U+91A6, U+91A8, U+91AA-91B6, U+91BA-91BD, U+91BF-91C6, U+91C9, U+91CB, U+91D0, U+91D3-91D4, U+91D6-91D7, U+91D9-91DB, U+91DE-91DF, U+91E1, U+91E4-91E6, U+91E9-91EA, U+91EC-91F1, U+91F5-91F7, U+91F9, U+91FB-91FD, U+91FF-9201, U+9204-9207, U+9209-920A, U+920C, U+920E, U+9210-9218, U+921C-921E, U+9223-9226, U+9228-9229, U+922C, U+922E-9230, U+9233, U+9235-923A, U+923C, U+923E-9240, U+9242-9243, U+9245-924B, U+924D-9251, U+9256-925A, U+925C-925E, U+9260-9261, U+9264-9269, U+926E-9270, U+9275-9279, U+927B-927F, U+9288-928A, U+928D-928E, U+9291-9293, U+9295-9297, U+9299, U+929B-929C;
}
