/* custom-subset */
@font-face {
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local('Togarite-regular'),
    url('/Togalite.028.custom-subset.woff2') format('woff2');
  unicode-range: U+7512-7513, U+7515-7517, U+751C, U+751E, U+7520-7522, U+7524, U+7526-7527, U+7529-752C, U+752F, U+7536, U+7538-7539, U+753C-7540, U+7543-7544, U+7546-754B, U+754D-7550, U+7552, U+7557, U+755A-755B, U+755D-755F, U+7561-7562, U+7564, U+7566-7567, U+7569, U+756B-756D, U+756F, U+7571-7572, U+7574-757E, U+7581-7582, U+7585-7587, U+7589-758C, U+758F-7590, U+7592-7595, U+7599-759A, U+759C-759D, U+75A2-75A5, U+75B0-75B1, U+75B3-75B5, U+75B7-75B8, U+75BA, U+75BD, U+75BF-75C4, U+75C6, U+75CA, U+75CC-75CF, U+75D3-75D4, U+75D7-75D8, U+75DC-75E1, U+75E3-75E4, U+75E7, U+75EC, U+75EE-75F3, U+75F9, U+75FC, U+75FE-7604, U+7607-760C, U+760F, U+7612-7613, U+7615-7616, U+7618-7619, U+761B-7629, U+762D, U+7630, U+7632-7635, U+7638-763C, U+7640-7641, U+7643-764B, U+764E, U+7655, U+7658-7659, U+765C, U+765F, U+7661-7662, U+7664-7665, U+7667-766A, U+766C-7672, U+7674, U+7676, U+7678, U+7680-7683, U+7685, U+7688, U+768B;
}
