/* custom-subset */
@font-face {
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src:
    local('Togarite-black'),
    url('/Togalite.053.custom-subset.woff2') format('woff2');
  unicode-range: U+31DE-31E3, U+31F0-321E, U+3220-3230, U+3232-32C9;
}
