/* custom-subset */
@font-face {
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    local('Togarite-medium'),
    url('/Togalite.025.custom-subset.woff2') format('woff2');
  unicode-range: U+7A11, U+7A15, U+7A17-7A19, U+7A1B, U+7A1E-7A21, U+7A27, U+7A2B, U+7A2D, U+7A2F-7A31, U+7A34-7A35, U+7A37-7A3B, U+7A3E, U+7A43-7A49, U+7A4C, U+7A4E, U+7A50, U+7A55-7A57, U+7A59, U+7A5C-7A5D, U+7A5F-7A63, U+7A65, U+7A67, U+7A69-7A6A, U+7A6D, U+7A70, U+7A75, U+7A78-7A79, U+7A7D-7A7E, U+7A80, U+7A82, U+7A84-7A86, U+7A88, U+7A8A-7A8B, U+7A90-7A91, U+7A94-7A98, U+7A9E, U+7AA0, U+7AA3, U+7AA9, U+7AAC, U+7AB0, U+7AB3, U+7AB5-7AB6, U+7AB9-7ABF, U+7AC3, U+7AC5-7ACA, U+7ACC-7ACF, U+7AD1-7AD3, U+7AD5, U+7ADA-7ADB, U+7ADD, U+7ADF, U+7AE1-7AE2, U+7AE6-7AED, U+7AF0-7AF1, U+7AF4, U+7AF8, U+7AFA-7AFB, U+7AFD-7AFE, U+7B02, U+7B04, U+7B06-7B08, U+7B0A-7B0B, U+7B0F, U+7B12, U+7B14, U+7B18-7B19, U+7B1E-7B1F, U+7B23, U+7B25, U+7B27-7B2B, U+7B2D-7B31, U+7B33-7B36, U+7B3B, U+7B3D, U+7B3F-7B41, U+7B45, U+7B47, U+7B4C-7B50, U+7B53, U+7B55, U+7B5D, U+7B60, U+7B64-7B66, U+7B69-7B6A, U+7B6C-7B75, U+7B77, U+7B79-7B7A, U+7B7F, U+7B84, U+7B86, U+7B89, U+7B8D-7B92, U+7B96, U+7B98-7BA0, U+7BA5, U+7BAC-7BAD, U+7BAF-7BB0, U+7BB2, U+7BB4-7BB6, U+7BBA-7BBD, U+7BC1;
}
