/* custom-subset */
@font-face {
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    local('Togarite-medium'),
    url('/Togalite.026.custom-subset.woff2') format('woff2');
  unicode-range: U+784F, U+7851-7852, U+785C, U+785E, U+7860-7861, U+7863-7864, U+7868, U+786A, U+786E-786F, U+7872, U+7874, U+787A, U+787C, U+787E, U+7886-7887, U+788A, U+788C-788F, U+7893-7895, U+7898, U+789A, U+789D-789F, U+78A1, U+78A3-78A4, U+78A8-78AA, U+78AC-78AD, U+78AF-78B3, U+78B5, U+78BB-78BF, U+78C5-78CC, U+78CE, U+78D1-78D6, U+78DA-78DB, U+78DF-78E1, U+78E4, U+78E6-78E7, U+78EA, U+78EC, U+78F2-78F4, U+78F6-78F7, U+78F9-78FB, U+78FD-7901, U+7906-7907, U+790C, U+7910-7912, U+7919-791C, U+791E-7920, U+7925-792E, U+7930-7931, U+7934-7935, U+793B, U+793D, U+793F, U+7941-7942, U+7944-7946, U+794A-794B, U+794F, U+7951, U+7954-7955, U+7957-7958, U+795A-795C, U+795F-7960, U+7962, U+7967, U+7969, U+796B, U+7972, U+7977, U+7979-797C, U+797E-7980, U+798A-798E, U+7991, U+7993-7996, U+7998, U+799B-799D, U+79A1, U+79A6-79AB, U+79AE-79B1, U+79B3-79B4, U+79B8-79BB, U+79BD-79BE, U+79C2, U+79C4, U+79C7-79CA, U+79CC-79CD, U+79CF, U+79D4-79D6, U+79DA, U+79DD-79E3, U+79E5, U+79E7, U+79EA-79ED, U+79F1, U+79F8, U+79FC, U+7A02-7A03, U+7A05, U+7A07-7A0A, U+7A0C-7A0D;
}
