/* custom-subset */
@font-face {
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src:
    local('Togarite-heavy'),
    url('/Togalite.045.custom-subset.woff2') format('woff2');
  unicode-range: U+5638-5639, U+563B-563D, U+563F-5641, U+5643-5644, U+5646-5647, U+5649, U+564B, U+564D-5650, U+5653-5654, U+565E, U+5660-5664, U+5666, U+5669-566D, U+566F, U+5671-5672, U+5675-5676, U+5678, U+567A, U+5680, U+5684-5688, U+568A-568C, U+568F, U+5694-5695, U+5699-569A, U+569D-56A0, U+56A5-56A9, U+56AB-56AE, U+56B1-56B4, U+56B6-56B7, U+56BC, U+56BE, U+56C0, U+56C2-56C3, U+56C5, U+56C8-56D1, U+56D3, U+56D7-56D9, U+56DC-56DD, U+56DF, U+56E1, U+56E4-56E8, U+56EB, U+56ED-56EE, U+56F1, U+56F6-56F7, U+56F9, U+56FF-5704, U+5707-570A, U+570C-570D, U+5711, U+5713, U+5715-5716, U+5718, U+571A-571D, U+5720-5726, U+5729-572A, U+572C, U+572E-572F, U+5733-5734, U+5737-5738, U+573B, U+573D-573F, U+5745-5746, U+574C-574F, U+5751-5752, U+5759, U+575F, U+5761-5762, U+5764-5765, U+5767-5769, U+576B, U+576D-5771, U+5773-5775, U+5777, U+5779-577C, U+577E-577F, U+5781, U+5783, U+5788-5789, U+578C, U+5793-5795, U+5797, U+5799-579A, U+579C-57A1, U+57A4, U+57A7-57AA, U+57AC, U+57AE, U+57B0, U+57B3, U+57B8, U+57BD, U+57C0, U+57C3, U+57C6-57C8, U+57CC, U+57CF, U+57D2-57D6;
}
