/* custom-subset */
@font-face {
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    local('Togarite-bold'),
    url('/Togalite.035.custom-subset.woff2') format('woff2');
  unicode-range: U+6867, U+686B, U+686E-6872, U+6874-6875, U+6877, U+6879-687C, U+687E-687F, U+6882-6884, U+6886, U+6888, U+688D-6890, U+6894, U+6896, U+6898-689C, U+689F-68A3, U+68A5-68A7, U+68A9-68AB, U+68AD-68AF, U+68B2-68B5, U+68B9-68BC, U+68C3, U+68C5-68C6, U+68C8-68CA, U+68CC-68CD, U+68CF-68D1, U+68D3-68D9, U+68DC-68DD, U+68E0-68E1, U+68E3-68E5, U+68E7-68E8, U+68EA-68ED, U+68EF-68F1, U+68F5-68F7, U+68F9, U+68FB-68FD, U+6900-6901, U+6903-6904, U+6906-690C, U+690F-6911, U+6913, U+6916-6917, U+6919-691B, U+6921-6923, U+6925-6926, U+6928, U+692A, U+6930-6931, U+6933-6936, U+6938-6939, U+693B, U+693D, U+6942, U+6945-6946, U+6949, U+694E, U+6954, U+6957, U+6959, U+695B-695E, U+6961-6966, U+6968-696C, U+696E-6974, U+6977-697B, U+697E-6981, U+6986, U+698D, U+6991-6992, U+6994-6996, U+6998, U+699C, U+69A0-69A1, U+69A5-69A8, U+69AB, U+69AD, U+69AF-69B2, U+69B4, U+69B7-69B8, U+69BA-69BC, U+69BE-69C1, U+69C3, U+69C5, U+69C7-69C8, U+69CA, U+69CE-69D1, U+69D3, U+69D6-69D7, U+69D9, U+69DD-69DE, U+69E2-69E3, U+69E5, U+69E7-69E8;
}
