/* custom-subset */
@font-face {
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local('Togarite-regular'),
    url('/Togalite.049.custom-subset.woff2') format('woff2');
  unicode-range: U+4F7A-4F7E, U+4F81-4F85, U+4F88-4F8A, U+4F8C, U+4F8E-4F90, U+4F92-4F94, U+4F96-4F9A, U+4F9E-4FA0, U+4FAB, U+4FAD, U+4FAF, U+4FB2, U+4FB7, U+4FB9, U+4FBB-4FBE, U+4FC0-4FC1, U+4FC4-4FC6, U+4FC8-4FC9, U+4FCB-4FD4, U+4FD8, U+4FDA-4FDC, U+4FDF-4FE0, U+4FE2, U+4FE4-4FE6, U+4FEF-4FF2, U+4FF6, U+4FFC-5002, U+5004-5007, U+500A, U+500C, U+500E-5011, U+5013-5014, U+5016-5018, U+501A-501E, U+5021-5023, U+5025-502A, U+502C-502E, U+5030, U+5032-5033, U+5035, U+5039, U+503B, U+5040-5043, U+5045-5048, U+504A, U+504C, U+504E, U+5050-5053, U+5055-5057, U+5059-505A, U+505F-5060, U+5062-5063, U+5066-5067, U+506A, U+506C-506D, U+5070-5072, U+5077-5078, U+5080-5081, U+5083-5086, U+5088, U+508A, U+508E-5090, U+5092-5096, U+509A-509C, U+509E-50A3, U+50AA, U+50AD, U+50AF-50B4, U+50B9-50BB, U+50BD, U+50C0, U+50C2-50C4, U+50C7, U+50C9-50CA, U+50CC, U+50CE, U+50D0-50D1, U+50D3-50D4, U+50D6, U+50D8-50D9, U+50DC-50DF, U+50E1-50E6, U+50E8-50E9, U+50ED-50F4;
}
