/* custom-subset */
@font-face {
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src:
    local('Togarite-black'),
    url('/Togalite.037.custom-subset.woff2') format('woff2');
  unicode-range: U+64E3-64E5, U+64E7, U+64E9-64EA, U+64ED, U+64EF-64F2, U+64F4-64F7, U+64FA-64FB, U+64FD-6501, U+6504-6505, U+6508-650A, U+650F, U+6513-6514, U+6516, U+6518-6519, U+651B-651F, U+6522, U+6524, U+6526, U+6529-652C, U+652E, U+6531-6532, U+6534-6538, U+653A, U+653C-653D, U+6543-6544, U+6547-6549, U+654D-654E, U+6550, U+6552, U+6554-6556, U+6558, U+655D-6560, U+6567, U+656B, U+6572, U+6578, U+657A, U+657D, U+6581-6585, U+6588, U+658A, U+658C, U+6592, U+6595, U+6598, U+659B, U+659D, U+659F-65A1, U+65A3-65A6, U+65AB, U+65AE, U+65B2-65B5, U+65B7-65B8, U+65BE-65BF, U+65C1-65C4, U+65C6, U+65C8-65C9, U+65CC, U+65CE, U+65D0, U+65D2, U+65D4, U+65D6, U+65D8-65D9, U+65DB, U+65DF-65E1, U+65E3, U+65F0-65F2, U+65F4-65F5, U+65F9, U+65FB-65FC, U+65FE-6600, U+6603-6604, U+6608-660A, U+660D, U+6611-6612, U+6615-6616, U+661C-661E, U+6621-6624, U+6626, U+6629-662C, U+662E, U+6630-6631, U+6633-6637, U+6639-663B, U+663F-6641, U+6644-6646, U+6648-664A, U+664C, U+664E-664F, U+6651, U+6657-6665, U+6667-6668, U+666A-666D, U+6670, U+6673, U+6675, U+6677-6679, U+667B-667C, U+667E-6680, U+6683-6684, U+6688, U+668B;
}
