/* custom-subset */
@font-face {
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    local('Togarite-medium'),
    url('/Togalite.010.custom-subset.woff2') format('woff2');
  unicode-range: U+942E-942F, U+9431-9434, U+9436, U+9438, U+943A-943B, U+943D, U+943F, U+9441, U+9443-9445, U+9448, U+944A, U+944C, U+9452-9453, U+9455, U+9459-945C, U+945E-9463, U+9468, U+946A-946B, U+946D-9472, U+9475, U+9477, U+947C-947F, U+9481, U+9483-9485, U+9578-9579, U+957E-957F, U+9582, U+9584, U+9586-9588, U+958A, U+958C-958F, U+9592, U+9594, U+9596, U+9598-9599, U+959D-95A1, U+95A4, U+95A6-95A9, U+95AB-95AD, U+95B1, U+95B4, U+95B6, U+95B9-95BF, U+95C3, U+95C6, U+95C8-95CD, U+95D0-95D6, U+95D9-95DA, U+95DC-95E2, U+95E4-95E6, U+95E8, U+961D-961E, U+9621-9622, U+9624-9626, U+9628, U+962C, U+962E-962F, U+9631, U+9633-9634, U+9637-963A, U+963C-963D, U+9641-9642, U+964B-964C, U+964F, U+9652, U+9654, U+9656-9658, U+965C-965F, U+9661, U+9666, U+966A, U+966C, U+966E, U+9672, U+9674, U+9677, U+967B-967C, U+967E-967F, U+9681-9684, U+9689, U+968B, U+968D, U+9691, U+9695-9698, U+969A, U+969D, U+969F, U+96A4-96AA, U+96AE-96B4, U+96B6, U+96B8-96BB, U+96BD, U+96C1, U+96C9-96CB, U+96CD-96CE, U+96D2, U+96D5-96D6, U+96D8-96DA, U+96DC-96DF, U+96E9, U+96EF, U+96F1, U+96F9;
}
