/* custom-subset */
@font-face {
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local('Togarite-regular'),
    url('/Togalite.048.custom-subset.woff2') format('woff2');
  unicode-range: U+50F5-50F6, U+50F9-50FB, U+50FE, U+5101-5103, U+5106-5109, U+510B-510E, U+5110, U+5112, U+5114-511E, U+5121, U+5123, U+5127-5128, U+512C-512D, U+512F, U+5131, U+5133-5135, U+5137-513C, U+513F-5142, U+5147, U+514A, U+514C, U+514F, U+5152-5155, U+5157-5158, U+515F-5160, U+5162, U+5164, U+5166-5167, U+5169-516A, U+516E, U+5173-5174, U+5179, U+517B, U+517E, U+5180, U+5182-5184, U+5189, U+518B-518C, U+518E-5191, U+5193, U+5195-5196, U+5198, U+519D, U+51A1-51A4, U+51A6, U+51A9-51AB, U+51AD, U+51B0-51B3, U+51B5, U+51B8, U+51BA, U+51BC-51BF, U+51C2-51C3, U+51C5, U+51C8-51CB, U+51CF, U+51D1-51D6, U+51D8, U+51DE-51E0, U+51E2, U+51E5, U+51E7, U+51E9, U+51EC-51EE, U+51F2-51F5, U+51F7, U+51FE, U+5201-5202, U+5204-5205, U+520B, U+520E, U+5212-5216, U+5218, U+5222, U+5226-5228, U+522A-522B, U+522E, U+5231-5233, U+5235, U+523C, U+5244-5245, U+5249, U+524B-524C, U+524F, U+5254-5255, U+5257-5258, U+525A, U+525C-5261, U+5266, U+5269, U+526C, U+526E, U+5271, U+5273-5274, U+5277-5279, U+527D, U+527F-5280, U+5282-5285, U+5288-528A, U+528C-528D, U+5291-5298, U+529A, U+529C, U+52A4-52A7, U+52AB-52AD;
}
