/* custom-subset */
@font-face {
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    local('Togarite-bold'),
    url('/Togalite.014.custom-subset.woff2') format('woff2');
  unicode-range: U+8DA6, U+8DA8, U+8DAB-8DAC, U+8DAF, U+8DB2, U+8DB5, U+8DB7, U+8DB9-8DBC, U+8DBE, U+8DC0, U+8DC2, U+8DC5-8DC8, U+8DCA-8DCC, U+8DCE-8DCF, U+8DD1, U+8DD4-8DD7, U+8DD9-8DDB, U+8DDF, U+8DE3-8DE5, U+8DE7, U+8DEA-8DEC, U+8DF0-8DF2, U+8DF4, U+8DFC-8DFD, U+8DFF, U+8E01, U+8E04-8E06, U+8E08-8E09, U+8E0B-8E0C, U+8E10-8E11, U+8E14, U+8E16, U+8E1D-8E23, U+8E26-8E27, U+8E30-8E31, U+8E33-8E39, U+8E3D, U+8E40-8E42, U+8E44, U+8E47-8E50, U+8E54-8E55, U+8E59, U+8E5B-8E64, U+8E69, U+8E6C-8E6D, U+8E6F-8E72, U+8E75-8E77, U+8E79-8E7C, U+8E81-8E85, U+8E89, U+8E8B, U+8E90-8E95, U+8E98-8E9B, U+8E9D-8E9E, U+8EA1-8EA2, U+8EA7, U+8EA9-8EAA, U+8EAC-8EB1, U+8EB3, U+8EB5-8EB6, U+8EBA-8EBB, U+8EBE, U+8EC0-8EC1, U+8EC3-8EC8, U+8ECB, U+8ECF, U+8ED1, U+8ED4, U+8EDB-8EDC, U+8EE3, U+8EE8, U+8EEB, U+8EED-8EEE, U+8EF0-8EF1, U+8EF7, U+8EF9-8EFC, U+8EFE, U+8F00, U+8F02, U+8F05, U+8F07-8F08, U+8F0A, U+8F0F-8F10, U+8F12-8F13, U+8F15-8F19, U+8F1B-8F1C, U+8F1E-8F21, U+8F23, U+8F25-8F28, U+8F2B-8F2F, U+8F33-8F37, U+8F39-8F3B, U+8F3E;
}
