/* custom-subset */
@font-face {
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    local('Togarite-medium'),
    url('/Togalite.029.custom-subset.woff2') format('woff2');
  unicode-range: U+736F-7371, U+7375, U+7377-737C, U+7380-7381, U+7383, U+7385-7386, U+738A, U+738E, U+7390, U+7393-7398, U+739C, U+739E-73A0, U+73A2, U+73A5-73A6, U+73A8, U+73AA-73AB, U+73AD, U+73B3, U+73B5, U+73B7, U+73B9-73BD, U+73BF, U+73C5-73C6, U+73C9-73CC, U+73CE-73CF, U+73D2-73D3, U+73D6, U+73D9, U+73DD-73DE, U+73E1, U+73E3-73E7, U+73E9-73EA, U+73EE, U+73F1, U+73F4-73F5, U+73F7-73FB, U+73FD, U+73FF-7401, U+7404-7405, U+7407, U+740A, U+7411, U+7413, U+741A-741B, U+7421, U+7424, U+7426, U+7428-7431, U+7433, U+7439-743A, U+743F-7441, U+7443-7444, U+7446-7447, U+744B, U+744D, U+7451-7453, U+7455, U+7457, U+7459-745A, U+745C-745D, U+745F, U+7462-7464, U+7466-746B, U+746D-7473, U+7476, U+747E, U+7480-7481, U+7485-7489, U+748B, U+748F-7492, U+7497-749A, U+749C, U+749E-74A3, U+74A5-74A6, U+74A8-74AB, U+74AE-74AF, U+74B1-74B2, U+74B5, U+74B9-74BB, U+74BD, U+74BF, U+74C8-74CA, U+74CC, U+74CF-74D0, U+74D3-74D4, U+74D6, U+74D8, U+74DA-74DB, U+74DE-74E0, U+74E3-74E4, U+74E7-74EB, U+74EE-74F2, U+74F4, U+74F7-74F8, U+74FA-74FC, U+74FF, U+7501, U+7503-7506, U+750C-750E, U+7511;
}
