/* custom-subset */
@font-face {
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    local('Togarite-bold'),
    url('/Togalite.046.custom-subset.woff2') format('woff2');
  unicode-range: U+546C-546E, U+5470-5471, U+5474-5477, U+547B, U+547F-5481, U+5483-5486, U+5488-548B, U+548D-5492, U+5495-5496, U+549C, U+549F-54A2, U+54A4, U+54A6-54AF, U+54B1, U+54B7-54BC, U+54BE-54BF, U+54C2-54C4, U+54C6-54C8, U+54CA, U+54CD-54CE, U+54D8, U+54E0, U+54E2, U+54E5-54E6, U+54E8-54EA, U+54EC-54EF, U+54F1, U+54F3, U+54F6, U+54FC-5501, U+5505, U+5508-5509, U+550C-550F, U+5514-5516, U+5527, U+552A-552B, U+552E, U+5532-5533, U+5535-5536, U+5538-5539, U+553B-553D, U+5540-5541, U+5544-5545, U+5547, U+5549-554A, U+554C-554D, U+5550-5551, U+5556-5558, U+555A-555E, U+5560-5561, U+5563-5564, U+5566, U+557B-5583, U+5586-5588, U+558A, U+558E-558F, U+5591-5594, U+5597, U+5599, U+559E-559F, U+55A3-55A4, U+55A8-55A9, U+55AC-55AE, U+55B2, U+55BF, U+55C1, U+55C3-55C4, U+55C6-55C7, U+55C9, U+55CB-55CC, U+55CE, U+55D1-55D4, U+55D7-55D8, U+55DA-55DB, U+55DD-55DF, U+55E2, U+55E4, U+55E9, U+55EC, U+55EE, U+55F1, U+55F6-55F9, U+55FD-55FF, U+5605, U+5607-5608, U+560A, U+560D-5612, U+5616-5617, U+5619, U+561B, U+5620, U+5628, U+562C, U+562F-5637;
}
