/* custom-subset */
@font-face {
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    local('Togarite-bold'),
    url('/Togalite.013.custom-subset.woff2') format('woff2');
  unicode-range: U+8F40-8F43, U+8F45-8F47, U+8F49-8F4A, U+8F4C-8F4F, U+8F51-8F55, U+8F57-8F58, U+8F5C-8F5E, U+8F61-8F66, U+8F9C-8F9D, U+8F9F-8FA2, U+8FA4-8FA8, U+8FAD-8FAF, U+8FB4-8FB8, U+8FBE, U+8FC0-8FC2, U+8FC6, U+8FC8, U+8FCA-8FCB, U+8FCD, U+8FD0, U+8FD2-8FD3, U+8FD5, U+8FDA, U+8FE0, U+8FE2-8FE5, U+8FE8-8FEA, U+8FED-8FEF, U+8FF1, U+8FF4-8FF6, U+8FF8-8FFB, U+8FFE, U+9002, U+9004-9005, U+9008, U+900B-900E, U+9011, U+9013, U+9015-9016, U+9018, U+901B, U+901E, U+9021, U+9027-902A, U+902C-902D, U+902F, U+9033-9037, U+9039, U+903C, U+903E-903F, U+9041, U+9043-9044, U+9049, U+904C, U+904F-9052, U+9056, U+9058, U+905B-905E, U+9062, U+9066-9068, U+906C, U+906F-9070, U+9072, U+9074, U+9076, U+9079, U+9080-9083, U+9085, U+9087-9088, U+908B-908C, U+908E-9090, U+9095, U+9097-9099, U+909B, U+90A0-90A2, U+90A5, U+90A8, U+90AF-90B6, U+90BD-90BE, U+90C3-90C5, U+90C7-90C9, U+90CC, U+90D2, U+90D5, U+90D7-90D9, U+90DB-90DF, U+90E2, U+90E4-90E5, U+90EB, U+90EF-90F0, U+90F2, U+90F4, U+90F6, U+90FE-9100, U+9102, U+9104-9106, U+9108, U+910D, U+9110, U+9112, U+9114-911A, U+911C, U+911E, U+9120, U+9122-9123, U+9125;
}
