/* custom-subset */
@font-face {
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src:
    local('Togarite-heavy'),
    url('/Togalite.051.custom-subset.woff2') format('woff2');
  unicode-range: U+33AD-33FF, U+3402, U+3405-3406, U+3427, U+342C, U+342E, U+3468, U+346A, U+3488, U+3492, U+34B5, U+34BC, U+34C1, U+34C7, U+34DB, U+351F, U+353E, U+355D-355E, U+3563, U+356E, U+35A6, U+35A8, U+35C5, U+35DA, U+35DE, U+35F4, U+3605, U+3614, U+364A, U+3691, U+3696, U+3699, U+36CF, U+3761-3762, U+376B-376C, U+3775, U+378D, U+37C1, U+37E2, U+37E8, U+37F4, U+37FD, U+3800, U+382F, U+3836, U+3840, U+385C, U+3861, U+38A1, U+38AD, U+38FA, U+3917, U+391A, U+396F, U+39A4, U+39B8, U+3A5C, U+3A6E, U+3A73, U+3A85, U+3AC4, U+3ACB, U+3AD6-3AD7, U+3AEA, U+3AF3, U+3B0E, U+3B1A, U+3B1C, U+3B22, U+3B6D, U+3B77, U+3B87-3B88, U+3B8D, U+3BA4, U+3BB6, U+3BC3, U+3BCD, U+3BF0, U+3BF3, U+3C0F, U+3C26, U+3CC3, U+3CD2, U+3D11, U+3D1E, U+3D31, U+3D4E, U+3D64, U+3D9A, U+3DC0, U+3DCC, U+3DD4, U+3E05, U+3E3F-3E40, U+3E60, U+3E66, U+3E68, U+3E83, U+3E8A, U+3E94, U+3EDA, U+3F57, U+3F72, U+3F75, U+3F77, U+3FAE, U+3FB1, U+3FC9, U+3FD7, U+3FDC, U+4039, U+4058, U+4093, U+4103, U+4105, U+4148, U+414F, U+4163, U+41B4, U+41BF, U+41E6, U+41EE, U+41F3, U+4207, U+420E, U+4264, U+4293, U+42C6, U+42D6, U+42DD, U+4302, U+432B, U+4343;
}
