/* custom-subset */
@font-face {
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    local('Togarite-medium'),
    url('/Togalite.006.custom-subset.woff2') format('woff2');
  unicode-range: U+9C22-9C2A, U+9C2D-9C32, U+9C35-9C37, U+9C39-9C3A, U+9C3D-9C3E, U+9C41, U+9C43-9C4A, U+9C4E-9C50, U+9C52-9C54, U+9C56, U+9C58, U+9C5A-9C61, U+9C63, U+9C65, U+9C67-9C6B, U+9C6D-9C6E, U+9C70, U+9C72, U+9C75-9C78, U+9C7A-9C7C, U+9CE6-9CE7, U+9CEB-9CEC, U+9CF0, U+9CF2, U+9CF6-9CF7, U+9CF9, U+9D02-9D03, U+9D06-9D09, U+9D0B, U+9D0E, U+9D11-9D12, U+9D15, U+9D17-9D18, U+9D1B-9D1F, U+9D23, U+9D26, U+9D2A-9D2C, U+9D2F-9D30, U+9D32-9D34, U+9D3A, U+9D3C-9D3F, U+9D41-9D48, U+9D4A, U+9D50-9D54, U+9D59, U+9D5D-9D65, U+9D69-9D6C, U+9D6F-9D70, U+9D72-9D73, U+9D76-9D77, U+9D7A-9D7C, U+9D7E, U+9D83-9D84, U+9D86-9D87, U+9D89-9D8A, U+9D8D-9D8E, U+9D92-9D93, U+9D95-9D9A, U+9DA1, U+9DA4, U+9DA9-9DAC, U+9DAE, U+9DB1-9DB2, U+9DB5, U+9DB8-9DBD, U+9DBF-9DC4, U+9DC6-9DC7, U+9DC9-9DCA, U+9DCF, U+9DD3-9DD7, U+9DD9-9DDA, U+9DDE-9DE0, U+9DE3, U+9DE5-9DE7, U+9DE9, U+9DEB, U+9DED-9DF0, U+9DF3-9DF4, U+9DF8, U+9DFD-9DFE, U+9E02, U+9E07, U+9E0A, U+9E0D-9E0E, U+9E10-9E12, U+9E15;
}
