/* custom-subset */
@font-face {
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    local('Togarite-bold'),
    url('/Togalite.011.custom-subset.woff2') format('woff2');
  unicode-range: U+929F-92A0, U+92A4-92A5, U+92A7-92A8, U+92AB, U+92AF, U+92B2-92B3, U+92B6-92BD, U+92BF-92C3, U+92C5-92C8, U+92CB-92D0, U+92D2-92D3, U+92D5, U+92D7-92D9, U+92DC-92DD, U+92DF-92E1, U+92E3-92E5, U+92E7-92EA, U+92EC, U+92EE, U+92F0, U+92F2, U+92F7-92FB, U+92FF-9300, U+9302, U+9304, U+9308, U+930D, U+930F-9311, U+9314-9315, U+9318-931A, U+931C-931F, U+9321-9325, U+9327-932B, U+932E, U+9333-9337, U+933A-933B, U+9344, U+9347-934A, U+934D, U+9350-9352, U+9354-9358, U+935A, U+935C, U+935E, U+9360, U+9364-9365, U+9367, U+9369-936D, U+936F-9371, U+9373-9374, U+9376, U+937A, U+937D-9382, U+9388, U+938A-938B, U+938D, U+938F, U+9392, U+9394-9395, U+9397-9398, U+939A-939B, U+939E, U+93A1, U+93A3-93A4, U+93A6, U+93A8-93A9, U+93AB-93AD, U+93B0, U+93B4-93B6, U+93B9-93BB, U+93C1, U+93C3-93CD, U+93D0-93D1, U+93D3, U+93D6-93D9, U+93DC-93DF, U+93E2, U+93E4-93E8, U+93F1, U+93F5, U+93F7-93FB, U+93FD, U+9401-9404, U+9407-9409, U+940D-9410, U+9413-9417, U+9419-941A, U+941F, U+9421, U+942B;
}
