/* custom-subset */
@font-face {
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src:
    local('Togarite-light'),
    url('/Togalite.056.custom-subset.woff2') format('woff2');
  unicode-range: U+25E5-25E6, U+2601-2603, U+2609, U+260E-260F, U+2616-2617, U+261C-261F, U+262F, U+2641, U+2660, U+2662-2664, U+2666-2668, U+266D-266E, U+2672-267D, U+26BD-26BE, U+2702, U+271A, U+273D, U+2740, U+2756, U+2776-277F, U+27A1, U+2934-2935, U+29BF, U+29FA-29FB, U+2B05-2B07, U+2B1A, U+2E3A-2E3B, U+2E80-2E99, U+2E9B-2EF3, U+2F00-2F28;
}
