/* custom-subset */
@font-face {
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local('Togarite-regular'),
    url('/Togalite.024.custom-subset.woff2') format('woff2');
  unicode-range: U+7BC2, U+7BC5-7BC6, U+7BC8, U+7BCA-7BCC, U+7BCF, U+7BD4, U+7BD6-7BD7, U+7BD9-7BDB, U+7BDD, U+7BE5-7BE6, U+7BE8-7BEA, U+7BF0, U+7BF2-7BFA, U+7BFC, U+7BFE, U+7C00-7C04, U+7C06-7C07, U+7C09, U+7C0B-7C0F, U+7C11-7C14, U+7C17, U+7C19, U+7C1B, U+7C1E-7C20, U+7C23, U+7C25-7C28, U+7C2A-7C2C, U+7C2F, U+7C31, U+7C33-7C34, U+7C36-7C3A, U+7C3D-7C3E, U+7C40, U+7C42-7C43, U+7C45-7C46, U+7C4A, U+7C4C, U+7C4F-7C5F, U+7C61, U+7C63-7C65, U+7C67, U+7C69, U+7C6C-7C70, U+7C72, U+7C75, U+7C79, U+7C7B-7C7E, U+7C81-7C83, U+7C86-7C87, U+7C8D, U+7C8F-7C90, U+7C94, U+7C9E, U+7CA0-7CA2, U+7CA4-7CA6, U+7CA8, U+7CAB, U+7CAD-7CAE, U+7CB0-7CB3, U+7CB6-7CB7, U+7CB9-7CBD, U+7CBF-7CC0, U+7CC2, U+7CC4-7CC5, U+7CC7-7CCA, U+7CCD-7CCF, U+7CD2-7CD5, U+7CD7-7CDA, U+7CDC-7CDD, U+7CDF-7CE0, U+7CE2, U+7CE6, U+7CE9, U+7CEB, U+7CEF, U+7CF2, U+7CF4-7CF6, U+7CF9-7CFA, U+7CFE, U+7D02-7D03, U+7D06-7D0A, U+7D0F, U+7D11-7D13, U+7D15-7D16, U+7D1C-7D1E, U+7D23, U+7D26, U+7D2A, U+7D2C-7D2E, U+7D31-7D32, U+7D35, U+7D3C-7D41, U+7D43, U+7D45, U+7D47-7D48, U+7D4B, U+7D4D-7D4F;
}
